@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ExpenseXpert is a free tool for managing your fincances like a pro!</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Create a Category</h2>
            <p>
                Go to "Categories" and create a new category for your expenses or incomes.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Log your income</h2>
            <p>Log any income you receive for better results.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Log your expenses</h2>
            <p>The more detailed you are when logging your expenses, the more you will be at managing your finances.</p>
        </section>
    </div>
</main>